#landing-page {
  width: 100%;
  padding: 5rem;
  display: grid;
  grid-template-columns: 7fr 5fr;
}

#landing-page>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-page h1 {
  margin-bottom: 1rem;
}

#landing-page .card-login {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}

#landing-page .input-group {
  margin-bottom: 1.5rem;
}

#landing-page .input-group input {
  height: 1.8rem;
}

#landing-page .btn {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

#landing-page .card-login span {
  font-weight: 700;
  text-align: center;
}